.App{
  margin: 0%;
  padding: 0%;
}
.logo{
  display: flex;
}
.image{
  padding: 21px;
}
.button{
  width: 100px;
  background-color: #80CD6B;
  height: 32px;
  color: white;
  border-radius: 6px;
  outline: none;
  
  margin-top: 24px;

}
.main{
  flex-wrap: wrap;
}
.menu-bar {
  margin: 20px;
  position: relative;
  left: 0%;
}
.menu{
  width: 35px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}

header{
  background-color: #808080;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
}
h2{
  text-align: left;
  color: white;
}
ul {
  display: flex;
  position: relative;
  left: 45%;
}

li{
  padding: 5px;
  list-style: none;
  margin-right: 30px;
  color: whitesmoke;
  margin-top: 23px;
}


.largescreen{
  display: flex;
  padding: 0;
  margin: 14px;
}
.large-image{
      margin-top: 24px;
}
.homehead{
  font-size: 32px;
  margin: 43px 0px 0px 14px;
}
.subtitle{
  font-size: 20px;
  margin: 15px 0px 0px 15px
}
.input{
  padding: 4px;
    width: 518px;
    height: 25px;
    margin: 15px 0px 0px 15px;
    font-size:17px;

}
.get-app{
  margin: 37px 0px 0px 15px;
  width: 336px;
  height: 35px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 15px;
  outline: none;
  font-size: 19px;
}
.row{
  left: 154px;
  position: relative;
}
.align{
  display: flex;
}
.align-items{
  display: flex;
  text-align: center;
}
.counttext{
  width: 151px;
  margin: 11px 0px 0px 0px;
  font-size: 23px;

}
.counttext1{
  width: 90px;
  margin: 11px 0px 0px 0px;
  font-size: 23px;
}
.count{
  width: 189px;
  margin: 2px 49px 0px 0px;
  font-size: 24px;
}
.flex-container{
  display: flex;
    justify-content: space-around;
    font-size: 20px;
    
    
}

.item {
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 15px;
    outline: none;
    font-size:18px;
    margin-top: 25px;
    
    width: 226px;
    height: 36px;
}
.chat{
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
    width: 264px;
    text-align: center;
    padding: 9px;
    
    height: 229px;


}
.font{
  font-size: 22px;
}
.fontsize{
  padding: 4px;
  font-size: 28px;
}
.examkey1{
  display: flex;
  justify-content: space-around;
  
}
.list{
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
    width: cal(100%-40%);
    display: flex;
    flex-wrap: wrap;
    margin: 11px 28px 0px 28px;
    

}
.map-list{
  display: flex;
  font-size: 20px;

}
.state-map{
  width: 249px;
  height: 29px;
  position: relative;
  top: 20px;

}
.student-material{
color: black;
font-size: 25px;
margin: 21px 0px 0px 43px;
}
.Button{
  width: 391px;
  height: 58px;
  margin: 12px 12px 0px 12px;
  font-size: 17px;
}
.subject-class{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.sub-button{
  height: 53px;
  width: 280px;
    margin: 12px;
    font-size: 17px;
}
.solution-class{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.solution-button{
  height: 53px;
  width: 280px;
  margin: 12px;
  font-size: 17px;

}
.image-map{
  margin: 14px;
  width: 145px;
  height: 80px;
}
.testimonial-button{
  height: 53px;
  width: 280px;
  margin: 12px;
  font-size: 17px;
  position: relative;
  left: 38%;
  top: 52px;
  box-shadow: 9px 5px 8px 0px rgb(0 0 0);
}
.idmap{
  flex-wrap: wrap;
  width: 208px;
    font-weight: 500;
}
.solution1{

  height:393px;
}    
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
.App{
  width: fit-content;
}
header {

  width: fit-content;
}
li {
  margin-right: 14px;
  position: relative;
  top: -14px;
}
ul {
  display: flex;
  position: relative;
  left: 0%;
}
.menu {
  width: 43px;
  height: 4px;
  margin: 6px 15px 0px 28px;
}
.menu-bar {
  margin: 0px;
  position: relative;
  left: 0%;
}
.button {
  width: 66px;
  margin-top: 5px;
  height: 32px;
}
.largescreen{
  display: flex;
  padding: 0;
  margin: 14px;
  flex-direction: column;
}.row {
  left: -6px;
  position: relative;
}
.chat {
  width: 264px;
  padding: 9px;
  margin-bottom: 13px;
}
.state-map {
  width: 212px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  position: relative;
  left: 0;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 11px 28px 0px 28px;
  position: relative;
  left: 0;
  width: fit-content;
}
.student-material {
  margin: 21px 0px 0px 25px;
}

.subject-class {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.solution-class {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.Button {
  width: 618px;
  height: 58px;
  margin: 12px 12px 0px 12px;
  font-size: 17px;
}
.testimonial-button {
  height: 53px;
  width: 280px;
  margin: 12px;
  position: relative;
  left: 20%;
  top: 27px;
}
.examkey1 {
  display: flex;
  width: 50%;
  flex-direction: column;
}
}
